.app{
  margin-top:5vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height:300px
}

.title{
  text-align: center;
  opacity: 50%;
  font-size: 35px;
  margin:0
}

ul {
  padding-inline-start: 0;
}

.main__frame {
  text-align: center;
}

.input{
  border-radius:4px;
  opacity:40%;
  text-align: center;
  height:25px;
}

.new__button {
  background-color: #ff6666;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height:25px
}


