ul {
  padding-inline-start: 0;
}

.main__frame {
  text-align: center;
}

.input{
  border-radius:4px;
  opacity:40%;
  text-align: center;

}
.new__todo__button {
  background-color: #ff6666;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;

}
